@import '../mixins/mixins.scss';

.goals {
    grid-column: 1/4;
    grid-row: 2/3s;

    background-color: $bg2;

    margin: 1em;
    padding: 0 1em 1em 1em;

    border-radius: 10px;

    .goals-list {
        background-color: $bg1;
        list-style-type: none;
        min-height: 50px;
        border-radius: 10px;
    }

    .list-item {
        display: flex;
        justify-content: left;
        
        p {
            flex-basis: 80%;
        }
    }

    .completed {
        background-color: $green;
    }

    .remove-button{
        height: auto;
        padding: 0.5em;
        
    }

    .remove-button:hover{
        background-color: $red;
        
    }

}