@import "../mixins/mixins.scss";

.header {
    grid-column: 1/6;
    grid-row: 1/2;

    background-color: $bg2;

    margin: 1em;
    padding: 1em;

    height: 50px;

    border-radius: 10px;

    .eth-address {
        display: inline-block;
        color: $orange;
        margin-left: 1em;
    }
}