@import '../mixins/mixins.scss';

.profile-wrap {
    grid-column: 4/6;
    grid-row: 2/3;

    background-color: $bg2;

    margin: 1em;
    padding: 0 1em 1em 1em;

    border-radius: 10px;

    .profile {
        .profile-info {
            background-color: $bg1;

            min-height: 50px;
            border-radius: 10px;
        }

        .profile-stats {
            background-color: $bg1;

            min-height: 50px;
            border-radius: 10px;
        }
    }
}