@import '../mixins/mixins.scss';

body {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto auto auto auto auro;

    background-color: $bg1;

    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 30px;
    color: $white;
}
  
h2 {
font-size: 25px;
color: $white;
}

h3 {
font-size: 20px;
color: $white;
}

p {
font-size: 15px;
color: $fg4;
}

a {
text-decoration: none;
color:$red;
}

a:hover {
text-decoration: none;
color:$blue;
}

button {
background-color: $bg2;
border-color: $fg4;
border-style: solid;
border-width: 3px;
border-radius: 7px;
color: $fg4;
font-weight: bold;
padding: 1em;
}

button:hover {
background-color: $bg4;
border-color: $bg3;
border-style: solid;
border-width: 3px;
border-radius: 7px;
color: $bg3;
font-weight: bold;
padding: 1em;
}

label {
  font-size: 20px;
  color: $white;
}

input {
  background-color: $bg2;
  border-color: $fg4;
  border-color: $fg4;
  border-style: solid;
  border-width: 3px;
  border-radius: 7px;
  color: $fg4;
  font-weight: bold;

  margin-bottom: 1em;

  &[type=submit] {
    padding: 1em;
    
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  padding: 0.5em 0 0.5em 0;
}


li{
  background-color: $bg2;
  color: $white;
  margin: 0.5em 1em 0.5em 1em;
  padding: 1em;
}

.column-wrap {
  display: inline-flex;
  justify-content: left;
  width: 100%;
}

.column-1-3 {
  flex-basis: 33%;
}