$bg1: #3c3836;
$bg2: #504945;
$bg3: #665c54;
$bg4: #7c6f64;

$fg1: #a89984;
$fg2: #bdae93;
$fg3: #d5c4a1;
$fg4: #ebdbb2;

$yellow:   #fabd2f;
$orange:   #fe8019;
$red:      #fb4934;
$magenta:  #d3869b;     
$blue:     #83a598;
$aqua:     #8ec07c;
$green:    #b8bb26;
$black:    #282828;
$white:    #fbf1c7;